

body{
   
        background-size: cover; /* Faz com que a imagem cubra todo o elemento */
        background-position: center; /* Centraliza a imagem */
        background-repeat: no-repeat; 
        background-color: rgb(105, 105 ,105);
        
        
            height: 100%;
            margin: 0;
            padding: 0;
        
        
}

#forma
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 110px;
    background-color: rgb(75,0,130);
    background-size: 100%;        
    background-repeat: no-repeat;
    
}

.titulo
{
    text-align: center;
    font-size: 40px;
}

/* Estilo base para o card */
.card {
    width: 300px;
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

/* Estilo para a imagem no card */
.card img {
    width: 100%;
    border-radius: 8px;
}

/* Estilo para o título no card */
.card h3 {
    margin-top: 10px;
    font-size: 20px;
    color: #333;
}

/* Estilo para a descrição no card */
.card p {
    margin-top: 10px;
    font-size: 16px;
    color: #666;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    height: 100%;
}