body
{    
    background: linear-gradient (to right,purple, white);
    background-color: black;
}

#forma
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 90px;
    background-color: rgb(11, 157, 38);
    background-size: 100% 100px;        
    background-repeat: no-repeat;
    
}
.titulo
{
    text-align: center;
    font-size: 40px;
    color: whitesmoke;
    font-family: "Josefin Sans", sans-serif;

}

.container {
    position: relative;
    display: inline-block;
    font-family: "Josefin Sans", sans-serif;

}

.texto-sobreposto {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(138, 5, 5); /* Cor de fundo com transparência */
    padding: 10px;
    border-radius: 5px;
    color: black;
    font-family: "Josefin Sans", sans-serif;

}
 
.botao-avançar
{
        position: absolute;
        top: 92%;
        left: 93%;
        transform: translate(-50%, -50%);
        background-color: rgb(11, 157, 38);
        color: rgb(255, 255, 255);
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 16px;
        transition: box-shadow 0.3s ease; /* Adiciona transição suave ao efeito de brilho */
    }
    
    .botao-avançar:hover {
        box-shadow: 0 0 40px rgb(11, 157, 38); /* Cria um efeito de brilho ao passar o cursor sobre o botão */
    }

    .botao-voltar
{
        position: absolute;
        top: 92%;
        left: 6%;
        transform: translate(-50%, -50%);
        background-color: rgb(11, 157, 38);
        color: rgb(255, 255, 255);
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 16px;
        transition: box-shadow 0.3s ease; /* Adiciona transição suave ao efeito de brilho */
    }
    
    .botao-voltar:hover {
        box-shadow: 0 0 40px rgb(11, 157, 38); /* Cria um efeito de brilho ao passar o cursor sobre o botão */
    }


p{
    color:aliceblue
}


.caixa {
        width: 600px;
        padding: 30px;
        background-color: #57DEB3;
        border: 2px solid #ccc;
        border-radius: 10px;
        overflow: hidden; /* Garante que a imagem não ultrapasse os limites da caixa */
        margin: 10% 33%; /* Centraliza horizontalmente */
      }
  
  .caixa img {
    width: 100%;
    height: auto;
    display: block; /* Remove espaço extra abaixo da imagem */
  }
  
  .descricao {
    text-align: center;
    color: #0056b3;
    font-family: "Josefin Sans", sans-serif;


  }
  
  .descricao-imagem
  {
    color: rgb(0, 0, 0)
  }
  .descricao h3 {
    margin-top: 0;
  }
  
  .botao {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .botao:hover {
    background-color: blue;
  }
  

